<header class="site-header">
  <div class="container">
    <div class="site-header__grid">
      <div class="site-header__nav-trigger">
        <span>
          <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.75 7.125C18.75 7.42337 18.6315 7.70952 18.4205 7.92049C18.2095 8.13147 17.9234 8.25 17.625 8.25H1.125C0.826631 8.25 0.540483 8.13147 0.329505 7.92049C0.118526 7.70952 0 7.42337 0 7.125C0 6.82663 0.118526 6.54048 0.329505 6.3295C0.540483 6.11853 0.826631 6 1.125 6H17.625C17.9234 6 18.2095 6.11853 18.4205 6.3295C18.6315 6.54048 18.75 6.82663 18.75 7.125ZM1.125 2.25H17.625C17.9234 2.25 18.2095 2.13147 18.4205 1.9205C18.6315 1.70952 18.75 1.42337 18.75 1.125C18.75 0.826631 18.6315 0.540483 18.4205 0.329505C18.2095 0.118526 17.9234 0 17.625 0H1.125C0.826631 0 0.540483 0.118526 0.329505 0.329505C0.118526 0.540483 0 0.826631 0 1.125C0 1.42337 0.118526 1.70952 0.329505 1.9205C0.540483 2.13147 0.826631 2.25 1.125 2.25ZM17.625 12H1.125C0.826631 12 0.540483 12.1185 0.329505 12.3295C0.118526 12.5405 0 12.8266 0 13.125C0 13.4234 0.118526 13.7095 0.329505 13.9205C0.540483 14.1315 0.826631 14.25 1.125 14.25H17.625C17.9234 14.25 18.2095 14.1315 18.4205 13.9205C18.6315 13.7095 18.75 13.4234 18.75 13.125C18.75 12.8266 18.6315 12.5405 18.4205 12.3295C18.2095 12.1185 17.9234 12 17.625 12Z" fill="black"/>
          </svg>
        </span>
      </div>
      <div class="site-header__logo">
        <a href="#">
          <img src="../assets/SHOP.CO.svg" alt="logo">
        </a>
      </div>
      <nav class="site-header__nav site-header-nav">
        <ul class="site-header-nav__list">
          <li class="site-header-nav__list-item has-dropdown">
            <a href="#" class="site-header-nav__link">Shop</a>
          </li>
          <li class="site-header-nav__list-item">
            <a href="#" class="site-header-nav__link">On Sale</a>
          </li>
          <li class="site-header-nav__list-item">
            <a href="#" class="site-header-nav__link">New Arrivals</a>
          </li>
          <li class="site-header-nav__list-item">
            <a href="#" class="site-header-nav__link">Brands</a>
          </li>
        </ul>
      </nav>
      <div class="site-header__search site-header-search">
        <form class="site-header-search__form">
          <button class="site-header-search__btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.7959 20.2041L17.3437 15.75C18.6787 14.0104 19.3019 11.8282 19.087 9.64607C18.8722 7.4639 17.8353 5.44516 16.1867 3.99937C14.5382 2.55357 12.4014 1.78899 10.2098 1.86071C8.01829 1.93244 5.93607 2.8351 4.38558 4.38559C2.83509 5.93608 1.93243 8.0183 1.8607 10.2098C1.78898 12.4014 2.55356 14.5382 3.99936 16.1867C5.44515 17.8353 7.46389 18.8722 9.64606 19.087C11.8282 19.3019 14.0104 18.6787 15.75 17.3438L20.2059 21.8006C20.3106 21.9053 20.4348 21.9883 20.5715 22.0449C20.7083 22.1016 20.8548 22.1307 21.0028 22.1307C21.1508 22.1307 21.2973 22.1016 21.4341 22.0449C21.5708 21.9883 21.695 21.9053 21.7997 21.8006C21.9043 21.696 21.9873 21.5717 22.044 21.435C22.1006 21.2983 22.1298 21.1517 22.1298 21.0037C22.1298 20.8558 22.1006 20.7092 22.044 20.5725C21.9873 20.4358 21.9043 20.3115 21.7997 20.2069L21.7959 20.2041ZM4.12499 10.5C4.12499 9.23915 4.49888 8.0066 5.19938 6.95824C5.89987 5.90988 6.89551 5.09278 8.06039 4.61027C9.22527 4.12776 10.5071 4.00151 11.7437 4.2475C12.9803 4.49348 14.1162 5.10064 15.0078 5.9922C15.8994 6.88376 16.5065 8.01967 16.7525 9.2563C16.9985 10.4929 16.8722 11.7747 16.3897 12.9396C15.9072 14.1045 15.0901 15.1001 14.0418 15.8006C12.9934 16.5011 11.7608 16.875 10.5 16.875C8.80977 16.8733 7.18927 16.2011 5.99411 15.0059C4.79894 13.8107 4.12673 12.1902 4.12499 10.5Z" fill="black" fill-opacity="0.4"/>
            </svg>
          </button>
          <input type="text" class="site-header-search__input">        
        </form>
      </div>
      <div class="site-header__customer site-header-customer">
        <a href="#" class="site-header-customer__cart">
          <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.375 18.375C9.375 18.7458 9.26503 19.1084 9.059 19.4167C8.85298 19.725 8.56014 19.9654 8.21753 20.1073C7.87492 20.2492 7.49792 20.2863 7.1342 20.214C6.77049 20.1416 6.4364 19.963 6.17417 19.7008C5.91195 19.4386 5.73337 19.1045 5.66103 18.7408C5.58868 18.3771 5.62581 18.0001 5.76773 17.6575C5.90964 17.3149 6.14996 17.022 6.45831 16.816C6.76665 16.61 7.12916 16.5 7.5 16.5C7.99728 16.5 8.47419 16.6975 8.82582 17.0492C9.17745 17.4008 9.375 17.8777 9.375 18.375ZM17.25 16.5C16.8792 16.5 16.5166 16.61 16.2083 16.816C15.9 17.022 15.6596 17.3149 15.5177 17.6575C15.3758 18.0001 15.3387 18.3771 15.411 18.7408C15.4834 19.1045 15.662 19.4386 15.9242 19.7008C16.1864 19.963 16.5205 20.1416 16.8842 20.214C17.2479 20.2863 17.6249 20.2492 17.9675 20.1073C18.3101 19.9654 18.603 19.725 18.809 19.4167C19.015 19.1084 19.125 18.7458 19.125 18.375C19.125 17.8777 18.9275 17.4008 18.5758 17.0492C18.2242 16.6975 17.7473 16.5 17.25 16.5ZM22.0753 5.20594L19.5169 13.5216C19.3535 14.0593 19.0211 14.5301 18.569 14.864C18.1169 15.1979 17.5692 15.3771 17.0072 15.375H7.77469C7.2046 15.3732 6.65046 15.1866 6.1953 14.8433C5.74015 14.5001 5.40848 14.0186 5.25 13.4709L2.04469 2.25H1.125C0.826631 2.25 0.540483 2.13147 0.329505 1.9205C0.118526 1.70952 0 1.42337 0 1.125C0 0.826631 0.118526 0.540483 0.329505 0.329505C0.540483 0.118526 0.826631 0 1.125 0H2.32687C2.73407 0.00125797 3.12988 0.134515 3.45493 0.379779C3.77998 0.625044 4.01674 0.969093 4.12969 1.36031L4.81312 3.75H21C21.1761 3.74999 21.3497 3.7913 21.5069 3.87061C21.664 3.94992 21.8004 4.06501 21.905 4.20664C22.0096 4.34826 22.0795 4.51246 22.1091 4.68602C22.1387 4.85958 22.1271 5.03766 22.0753 5.20594ZM19.4766 6H5.45531L7.41375 12.8531C7.43617 12.9315 7.48354 13.0005 7.54867 13.0495C7.6138 13.0986 7.69315 13.1251 7.77469 13.125H17.0072C17.0875 13.1252 17.1656 13.0996 17.2303 13.052C17.2949 13.0044 17.3426 12.9373 17.3662 12.8606L19.4766 6Z" fill="black"/>
          </svg>
        </a>
        <a href="#" class="site-header-customer__account">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 1.875C9.99747 1.875 8.0399 2.46882 6.37486 3.58137C4.70981 4.69392 3.41206 6.27523 2.64572 8.12533C1.87939 9.97543 1.67888 12.0112 2.06955 13.9753C2.46023 15.9393 3.42454 17.7435 4.84055 19.1595C6.25656 20.5755 8.06066 21.5398 10.0247 21.9305C11.9888 22.3211 14.0246 22.1206 15.8747 21.3543C17.7248 20.5879 19.3061 19.2902 20.4186 17.6251C21.5312 15.9601 22.125 14.0025 22.125 12C22.122 9.3156 21.0543 6.74199 19.1562 4.84383C17.258 2.94567 14.6844 1.87798 12 1.875ZM7.45969 18.4284C7.98195 17.7143 8.66528 17.1335 9.45418 16.7331C10.2431 16.3327 11.1153 16.124 12 16.124C12.8847 16.124 13.7569 16.3327 14.5458 16.7331C15.3347 17.1335 16.0181 17.7143 16.5403 18.4284C15.2134 19.3695 13.6268 19.875 12 19.875C10.3732 19.875 8.78665 19.3695 7.45969 18.4284ZM9.375 11.25C9.375 10.7308 9.52896 10.2233 9.8174 9.79163C10.1058 9.35995 10.5158 9.0235 10.9955 8.82482C11.4751 8.62614 12.0029 8.57415 12.5121 8.67544C13.0213 8.77672 13.489 9.02673 13.8562 9.39384C14.2233 9.76096 14.4733 10.2287 14.5746 10.7379C14.6759 11.2471 14.6239 11.7749 14.4252 12.2545C14.2265 12.7342 13.8901 13.1442 13.4584 13.4326C13.0267 13.721 12.5192 13.875 12 13.875C11.3038 13.875 10.6361 13.5984 10.1438 13.1062C9.65157 12.6139 9.375 11.9462 9.375 11.25ZM18.1875 16.8694C17.4583 15.9419 16.5289 15.1914 15.4688 14.6737C16.1444 13.9896 16.6026 13.1208 16.7858 12.1769C16.9689 11.2329 16.8688 10.2558 16.498 9.36861C16.1273 8.4814 15.5024 7.72364 14.702 7.19068C13.9017 6.65771 12.9616 6.37334 12 6.37334C11.0384 6.37334 10.0983 6.65771 9.29797 7.19068C8.49762 7.72364 7.87275 8.4814 7.50198 9.36861C7.13121 10.2558 7.0311 11.2329 7.21424 12.1769C7.39739 13.1208 7.85561 13.9896 8.53125 14.6737C7.4711 15.1914 6.54168 15.9419 5.8125 16.8694C4.89661 15.7083 4.32614 14.3129 4.1664 12.8427C4.00665 11.3725 4.2641 9.88711 4.90925 8.55644C5.55441 7.22578 6.5612 6.10366 7.81439 5.31855C9.06757 4.53343 10.5165 4.11703 11.9953 4.11703C13.4741 4.11703 14.9231 4.53343 16.1762 5.31855C17.4294 6.10366 18.4362 7.22578 19.0814 8.55644C19.7265 9.88711 19.984 11.3725 19.8242 12.8427C19.6645 14.3129 19.094 15.7083 18.1781 16.8694H18.1875Z" fill="black"/>
          </svg>
        </a>
      </div>  
    </div>
  </div>        
</header>
{% schema %}
{
    "name": "Custom header",
    "settings": [],
    "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}