<header class="site-header">
  <div class="container">
    <div class="site-header__logo"></div>
    <div class="site-header__nav"></div>
    <div class="site-header__customer"></div>  
  </div>        
</header>
{% schema %}
{
    "name": "Custom header",
    "settings": [],
    "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}