<header class="site-header">
  <div class="container">
    <div class="site-header__logo">
      <a href="#">
        <img src="../assets/SHOP.CO.svg" alt="logo">
      </a>
    </div>
    <nav class="site-header__nav site-header-nav">
      <ul class="site-header-nav__list">
        <li class="site-header-nav__list-item has-dropdown">
          <a href="#" class="site-header-nav__link">Shop</a>
        </li>
        <li class="site-header-nav__list-item">
          <a href="#" class="site-header-nav__link">On Sale</a>
        </li>
        <li class="site-header-nav__list-item">
          <a href="#" class="site-header-nav__link">New Arrivals</a>
        </li>
        <li class="site-header-nav__list-item">
          <a href="#" class="site-header-nav__link">Brands</a>
        </li>
      </ul>
    </nav>
    <div class="site-header__search site-header-search">
      <form class="site-header-search__form">
        <button class="site-header-search__btn"></button>
        <input type="text" class="site-header-search__input">        
      </form>
    </div>
    <div class="site-header__customer">
      
    </div>  
  </div>        
</header>
{% schema %}
{
    "name": "Custom header",
    "settings": [],
    "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}