
/* Color variables */
:root {
    --heading-color:#000;
    --text-base-color: rgba(0, 0, 0, 0.6);
    --accent-color: #FF3333;
}

body {
    font-family: "Satoshi-Regular", sans-serif; 
    font-size: 16px;
}
h1, h2 .h1, .h2 {
    font-family: "IntegralCF-Bold", sans-serif; 
}
.container {    
    margin: 0 auto;
    padding: 0 16px;
}
.custom-announcement-bar {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}
.custom-announcement-bar {
    text-align: center;
    height: 100%;
}
.custom-announcement-bar__text p,
.custom-announcement-bar p {
    margin: 0;
    
}
.custom-announcement-bar__text a,
.custom-announcement-bar a {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.custom-announcement-bar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.custom-announcement-bar .swiper-button-next,
.custom-announcement-bar .swiper-button-prev {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;      
    bottom: 0!important; 
    transform: translateY(50%);
}
.custom-announcement-bar .swiper-button-next svg,
.custom-announcement-bar .swiper-button-prev svg {
    display: none;
}
.swiper.announcement-bar__swiper {
    position: relative;
}
.custom-announcement-bar .swiper-button-next {
    right: 0;    
    background-image: url('../assets/arrow-down-bold-right.svg');
}
.custom-announcement-bar .swiper-button-prev {
    left: 0;   
    background-image: url('../assets/arrow-down-bold-left.svg'); 
}
.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: visible;
  }
}

/* Header Styles */
.site-header .container {
    position: relative;
}
.site-header__container {    
    display: flex;
    justify-content: space-between;
    gap: 12px; 
    align-items: center;
    line-height: 1;
    padding: 18px 0;
}

.site-header__left,
.site-header__right {
    display: flex;
    align-items: center;
    align-self: center;
}
.site-header__right button:last-child{
    margin-right: 0;
}
.site-header .caption-with-letter-spacing {
    font-family: "IntegralCF-Bold", sans-serif; 
}

.site-header__logo a {
    display: flex;
    align-items: center;
}

/* Mobile drawer styles */
.site-header__icon {
    width: 24px;
    height: 24px;    
    margin: 3px 16px 0 0;
}
.site-header__icon span {
    display: flex;
    align-items: center;
}
.menu-drawer__menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

/* Mobile search */
.site-header__search-mobile {
    line-height: 1;
}
.site-header__search-mobile .header__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.site-header__search-mobile .header__icon .svg-wrapper {
    width: 100%;
    height: 100%;
}
.site-header__search-mobile .header__icon .icon {
    width: 100%;
    height: 100%;
}
/* Customer account and cart */
.site-header__customer {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}
.site-header .cart-count-bubble {
    left: 1.7rem;
}
.site-header .site-header__cart {
    height: 24px;
    width: 24px;
}
.site-header .site-header__customer .header__icon, 
.site-header .site-header__customer .header__icon--cart .icon,
.site-header .site-header__customer .header__icon .svg-wrapper {
   width: 100%;
   height: 100%; 
}

/* Media queries */
@media screen and (min-width: 768px ){
    .custom-announcement-bar {
        font-size: 1.4rem;
    }
}
.site-header predictive-search {
    position: relative;
  }