.container {
    margin: 0 auto;
    padding: 0 50px;
}
.custom-announcement-bar {
    font-size: 18px;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.custom-announcement-bar {
    text-align: center;
    height: 100%;
}
.custom-announcement-bar__text p,
.custom-announcement-bar p {
    margin: 0;
}
.custom-announcement-bar__text a,
.custom-announcement-bar a {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.custom-announcement-bar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.custom-announcement-bar .swiper-button-next,
.custom-announcement-bar .swiper-button-prev {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;      
    bottom: 0!important; 
    transform: translateY(50%);
}
.custom-announcement-bar .swiper-button-next svg,
.custom-announcement-bar .swiper-button-prev svg {
    display: none;
}
.swiper.announcement-bar__swiper {
    position: relative;
}
.custom-announcement-bar .swiper-button-next {
    right: 0;    
    background-image: url('../assets/arrow-down-bold-right.svg');
}
.custom-announcement-bar .swiper-button-prev {
    left: 0;   
    background-image: url('../assets/arrow-down-bold-left.svg'); 
}

/* Header Styles */
.site-header__grid {
    display: grid;
    grid-template-columns: 25px 170px 1fr 1.5fr 70px;
    gap: 20px;
}


@media screen and (min-width: 1500px){
    .container {
        width: 1440px;
    }
}