
/* Color variables */
:root {
    --heading-color:#000;
    --text-base-color: rgba(0, 0, 0, 0.6);
    --text-light-color: rgba(0, 0, 0, 0.4);
    --border-color: rgba(0, 0, 0, 0.1);
    --accent-color: #FF3333;
    --bgc: #F0F0F0;
}

body {
    font-family: "Satoshi-Regular", sans-serif; 
    font-size: 16px;
}
h1, h2 .h1, .h2 {
    font-family: "IntegralCF-Bold", sans-serif; 
}
.container {    
    margin: 0 auto;
    padding: 0 16px;
}
.custom-announcement-bar {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}
.custom-announcement-bar {
    text-align: center;
    height: 100%;
}
.custom-announcement-bar__text p,
.custom-announcement-bar p {
    margin: 0;
    
}
.custom-announcement-bar__text a,
.custom-announcement-bar a {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.custom-announcement-bar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.custom-announcement-bar .swiper-button-next,
.custom-announcement-bar .swiper-button-prev {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;      
    bottom: 0!important; 
    transform: translateY(50%);
}
.custom-announcement-bar .swiper-button-next svg,
.custom-announcement-bar .swiper-button-prev svg {
    display: none;
}
.swiper.announcement-bar__swiper {
    position: relative;
}
.custom-announcement-bar .swiper-button-next {
    right: 0;    
    background-image: url('../assets/arrow-down-bold-right.svg');
}
.custom-announcement-bar .swiper-button-prev {
    left: 0;   
    background-image: url('../assets/arrow-down-bold-left.svg'); 
}
.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: visible;
  }
}

/* Header Styles */
.site-header .container {
    position: relative;
}
.site-header__container {    
    display: flex;
    justify-content: space-between;
    gap: 12px; 
    align-items: center;
    line-height: 1;
    padding: 18px 0;
}

.site-header__left,
.site-header__right {
    display: flex;
    align-items: center;
    align-self: center;
}
.site-header__right button:last-child{
    margin-right: 0;
}
.site-header .caption-with-letter-spacing {
    font-family: "IntegralCF-Bold", sans-serif; 
}

.site-header__logo a {
    display: flex;
    align-items: center;
}

/* Mobile drawer styles */
.site-header__icon {
    width: 24px;
    height: 24px;    
    margin: 3px 16px 0 0;
}
.site-header__icon span {
    display: flex;
    align-items: center;
}
.menu-drawer__menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

/* Mobile search */
.site-header__search-mobile {
    line-height: 1;
}
.site-header__search-mobile .header__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.site-header__search-mobile .header__icon .svg-wrapper {
    width: 100%;
    height: 100%;
}
.site-header__search-mobile .header__icon .icon {
    width: 100%;
    height: 100%;
}
/* Customer account and cart */
.site-header__customer {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}
.site-header .cart-count-bubble {
    left: 1.7rem;
}
.site-header .site-header__cart {
    height: 24px;
    width: 24px;
}
.site-header .site-header__customer .header__icon, 
.site-header .site-header__customer .header__icon--cart .icon,
.site-header .site-header__customer .header__icon .svg-wrapper {
   width: 100%;
   height: 100%; 
}
.site-header predictive-search {
    position: relative;
}
.site-header__search-desktop {
    display: none;        
}   


/* Main banner styles */
.main-banner {
    background-color: var(--bgc);
}
.main-banner__content {
    width: 100%;
    padding-top: 40px;    
}
div.main-banner__background {
    display: block;
}
.main-banner__heading {
    font-family: "IntegralCF-Bold", sans-serif;
    font-size: 3.6rem;
    margin: 0 0 20px 0;
}
.main-banner__text {
    font-size: 1.4rem;
    margin: 0 0 24px 0;
    line-height: 1.43;
}
.main-banner__buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 25px;
    font-family: "Satoshi-Medium", sans-serif; 
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    background-color: var(--heading-color);
    border-radius: 62px;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
}
.main-banner__counter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.main-banner__couner-item  {
    flex-basis: 100%;
    padding: 5px 0;
    text-align: center;
}
.main-banner__couner-item:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.02);
}
.main-banner__count {
    font-family: "Satoshi-Bold", sans-serif; 
    font-size: 2.4rem;
    line-height: 1;
}
.main-banner__description {
    font-family: "Satoshi-Regular", sans-serif; 
    font-size: 1.2rem;
    line-height: 1.8;
}
.main-banner__couner-item p {
    margin: 0;
}
.main-banner__background {    
    min-height: 448px;
    width: 100%;
    background-size: cover;
}
.main-banner__background .container {
    position: relative;
    height: 100%;
}
.main-banner__icon-large {
  position: absolute;
  top: 16%;
  transform: translateY(-16%);
  right: 0;
}
.main-banner__icon-small {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/* Media queries */
@media screen and (min-width: 390px ){
    .main-banner__couner-item {
        flex-basis: 50%;
        text-align: left;  
        padding: 0 35px 0 27px;        
        box-sizing: border-box;
        letter-spacing: 0;
    }
    .main-banner__couner-item:first-child {       
        padding: 0 27px 0 35px;  
        border-right: 1px solid var(--border-color);
    }
    .main-banner__couner-item:last-child {
        flex-basis: 100%;   
        text-align: center; 
        padding: 0;
        margin-top: 16px;
    }
    .main-banner__couner-item:nth-child(odd){
        background-color: transparent;
    }
}
@media screen and (min-width: 480px ){
    .main-banner__couner-item {
        text-align: center;
    }
    .main-banner__buttons a {
        width: 70%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 576px ){
    .main-banner__couner-item {
        text-align: left;
    }
    .main-banner__buttons a {
        width: 100%;
        margin: 0;
    }
    .main-banner__couner {
        flex-wrap: nowrap;
    }
    .main-banner__couner-item {
        
        flex-basis: 33%;
    }
    .main-banner__couner-item:last-child {
        flex-basis: 33%;
        margin-top: 0;
        border-left: 1px solid var(--border-color);
    }
}
@media screen and (min-width: 768px ){
    .custom-announcement-bar {
        font-size: 1.4rem;
    }
    .site-header .menu-drawer-container {
        display: none;
    }
    .site-header__left {
        flex-basis: 80%;
    }
    .site-header__menu-desktop {
        display: flex;   
        justify-content: center;
        width: 100%;
    }
    .site-header__menu-desktop .header__inline-menu  {
       display: block;
       margin-left: 0;
    }
    .site-header__menu-desktop .list-menu.list-menu--inline  {
        display: flex;
        width: 100%;
        padding: 0 0 0 20px;
        margin: 0;
        list-style: none;
    }
    .site-header__menu-desktop .header__menu-item {
        font-size: 1.5rem;
        padding-right: 24px;
    }
    .site-header__menu-desktop li:last-child .header__menu-item {
        padding-right: 0;
    }
     .site-header__menu-desktop .header__submenu {
        list-style: none;
    }   
    .main-banner__wrapper {
        display: flex;
    }
    .main-banner__content {
        flex-basis: 55%;
    }
    .main-banner__background {
        flex-basis: 45%;
    }
    .main-banner__counter {
        flex-wrap: nowrap;   
        justify-content: flex-start;     
    }
    .main-banner__couner-item:first-child {
        padding-left: 18px;
        padding-right: 18px;
    }
    .main-banner__couner-item {
        padding-right: 18px;
        padding-left: 18px;
        flex-basis: unset;        
    }
    .main-banner__couner-item:last-child {
        padding-right: 0;
        padding-left: 18px;
        text-align: left;
        flex-basis: unset;   
    }
    .main-banner__buttons a {
        width: 210px;
        padding: 15px 50px;
    }
}
@media screen and (min-width: 993px ){    
    .site-header__left {
        flex-basis: auto;
    }
    .site-header__menu-desktop .header__menu-item {
        font-size: 1.6rem;        
    }
    .site-header__right {        
        justify-content: flex-end;
    }
    .site-header__menu-desktop {
        justify-content: flex-start;               
    }
    .site-header__search-mobile {
        display: none;        
    }
    .site-header__search-desktop {
        display: block;
        width: calc(100% - 60px);
        margin-right: 40px;
        height: 48px;         
    }    
    .site-header-search {
        position: relative;
        min-width: 300px; 
        height: 48px;   
        border-radius: 64px;
        overflow: hidden;      
    }
    .site-header-search__field {
        position: absolute;        
        width: 100%;
        height: 100%;
        background-color: var(--bgc);          
        border-style: none;
        padding: 17px 30px 17px 50px;
        font-size: 1.6rem;
        color: var(--text-base-color);
    }
    .site-header-search__field::placeholder {
        font-size: 1.6rem;
        line-height: 1;
    }
    .site-header-search__submit {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;        
        z-index: 10;
        background-color: transparent;
        border-style: none;
        height: 48px;
        width: 48px;
        padding: 0;
    }
    .site-header-search__submit span, button {
        line-height: 1;
    }
    .site-header__customer {
        gap: 14px;
    }
}

@media screen and (min-width: 1175px ){    
    .site-header__logo a img {
        width: 160px;
        height: 22px;
    }
    .site-header__right {
        flex-basis: 50%;        
    }
    .main-banner__content {
        padding: 103px 0 116px 0;
    }
    .main-banner__heading {
        font-size: 6.4rem;
        line-height: 1;
        margin-bottom: 32px;
    }
    .main-banner__text {
        font-size: 1.6rem;
        line-height: 1.375;
        margin: 0 0 32px 0;
    }
    .main-banner__buttons a:hover {
        background-color: transparent;
        border: 2px solid var(--heading-color);
        color: var(--heading-color);
    }
    .main-banner__counter {
        margin-top: 48px;
    }
    .main-banner__count {
        font-size: 4rem;
    }
    .main-banner__description {
        font-size: 1.6rem;
        line-height: 1.375;
        margin-top: 8px;
    }
    .main-banner__background {
        min-height: 663px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0 100px;
    }
    .main-banner__background .container {
        padding: 0;
    }
    .main-banner__content .container {
        padding-right: 0;
    }
    .main-banner__background {
        flex-basis: 45%;
    }
    .main-banner__content {
        flex-basis: 55%;
    }
}